@model ProductViewModel

<div class="container">
    <h1>Редактирование</h1>
    <p class="text-body">Добавить новый продукт</p>
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <form method="post" class="form-group">
        <div>
            <label asp-for="Name">Название</label><br />
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label>Цена</label>
            <label asp-for="Cost"></label><br />
            <input class="form-control" asp-for="Cost" />
            <span asp-validation-for="Cost" />
        </div>
        <div>
            <label asp-for="Description">Описание</label><br />
            <textarea cols="40" rows="4" type="text" placeholder="Для чего" asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <br />
        <div>
            <span>
                <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="Product" asp-action="Add" tabindex="5">Добавить</button>
                <a class="btn btn-danger" asp-area="Admin" asp-controller="Product"  asp-action="Index" tabindex="6">Отменить</a>
            </span>
        </div>
    </form>
</div>