<div class="col-3">
    <a asp-area="Admin" asp-controller="Order" asp-action="Index"><p>Заказы</p></a>
    <a asp-area="Admin" asp-controller="User" asp-action="Index"><p>Пользователи</p></a>
    <a asp-area="Admin" asp-controller="Role" asp-action="Index"><p>Роли</p></a>
    <a asp-area="Admin" asp-controller="Product" asp-action="Index"><p>Продукты</p></a>
</div>